---
image: ghcr.io/dravanet/truenas-csi:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}
manifests:
- image: ghcr.io/dravanet/truenas-csi:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}arm64
  platform:
    os: linux
    architecture: arm64
    variant: v8
- image: ghcr.io/dravanet/truenas-csi:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}arm
  platform:
    os: linux
    architecture: arm
    variant: v7
- image: ghcr.io/dravanet/truenas-csi:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}amd64
  platform:
    os: linux
    architecture: amd64

{{#if build.tags}}
tags:
{{#each build.tags}}
- {{this}}
{{/each}}
{{/if}}

